/* EB Garamond / heading font-family */
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Manrope:wght@500&family=Poppins&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');



/* banner */
.banner{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    border-radius: 10px;
}
.banner-input{
    width: 100% !important;
}
.banner-input input{
    width: 62% !important;
}
/* btn */
.btn-bg-color{
    background-color: #B68C5A;
}
/* font-family */
.head-font-family{
    font-family:'EB Garamond', serif;
}

:root{
    --bs-body-font-family:'Poppins', sans-serif;/*this is good practice*/
}
/* paragraph text color */
.text-para{
    color: #707070 !important; /*this is not good practice*/
}
/* footer */
.text-footer{
    color: #CFCFCF   !important;
}
/* .footer-input{
    height: 20px !important;
    
} */
.footer-input button{
    left: 180px;
}
.carousel-card-bg-color{
    background-color: #F3F3F3;
}
/* .height-accordin{
    height: 574px !important;
} */